* {
  margin: 0;
}

/* Isso e uma Variável
  --gray: hsl(240, 9%, 89%);
*/

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  overflow-x: hidden !important;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 40vw;
  height: 100vh;
  min-width: 23.4rem;
  min-height: 51rem;
  max-height: 51rem;
}

.container {
  font-size: 13px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);
}

.Imagens {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.Imagens span {
  position: absolute;
  top: -16px;
  left: -16px;
  transform: rotate(11deg);
  z-index: 1;
}

.Imagens > img {
  position: relative;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: 0.44rem solid #2FC18C;
  left: -16px;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  position: relative;
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

p {
  margin-top: 2rem;
  position: relative;
}

.redessociais {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  position: relative;
}

#cartao-desktop {
  display: none;
  padding-top: 56%;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-width: 23.4rem;
  min-height: 50.7rem;
}

.rodape {
  padding: 40px;
  position: relative;
  color: white;
  font-size: 15px;
  align-items: center;
  text-align: center;
}

#turma {
top: -24px;
font-size: 12px;
}

/* Desktop */

@media (min-width: 600px) {
  main {
    background: url(images/background-site.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
    max-height: 100vh;
  }

  #cartao-desktop {
    display: flex;
  }

  .container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .content {
    position: absolute;
  }

  li {
    transition: all 0.2s;
  }

  li:hover {
    transform: translateY(-0.25em);
  }
  #particles-js {
    position: absolute;
    background: url(images/background-site.svg) no-repeat center/cover;
    min-height: 820px;
    min-width: 1440;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: auto;
  }
  .Imagens span {
    transition: transform 0.3s ease-in-out;
  }

  .Imagens span:hover {
    transform: scale(1.13);
  }
}

/* ---- particles.js container ---- */
